{% extends "carbohidratos/base.html" %}

{% block contenido %}

<h1 class="mt-4">Alimentos</h1>

<p> Aca vamos a poner contenido para los alimentos</p>

<p><a href="{% url 'carbohidratos-alimentos-buscar' %}"> Buscar alimentos </a></p>
<p><a href="{% url 'carbohidratos-alimentos-listar' %}"> Listar alimentos </a></p>

{% if return.user.is_superuser %}
    <p><a href="{% url 'carbohidratos-alimentos-nuevo' %}"> Nuevo alimento </a></p>
{% else %}
    <p><a href="{% url 'carbohidratos-alimentos-nuevo' %}"> Nuevo alimento nuevo </a></p>
{% endif %}
{% endblock %}