{% extends "carbohidratos/base.html" %}

{% block contenido %}

<h1 class="mt-4">Personas</h1>
<p> Aca vamos a agregar una persona nueva</p>
<form action="/carbohidratos/personas/nueva/" method="post">
    {% csrf_token %}
    <p> Nombre: <input type="text" name="nombre"> </p>
    <p> Apellido: <input type="text" name="apellido"> </p>
    <p> DNI: <input type="number" name="dni"> </p>
    <p> Fecha Nacimiento: <input type="date" name="nacimiento"> </p>

    <input type="submit" value="Ingresar persona">

</form>
<a href="{% url 'carbohidratos-inicio' %}"> Ir a inicio </a>

{% endblock %}